<form class="px-5" (ngSubmit)="onCreate()" #f="ngForm" novalidate>
  <div class="mb-1">
    <div class="row">
      <div class="col-9">
        <label for="image" class="form-label fw-bold">Imagen de Red Social</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="image"
          [(ngModel)]="image"
          required
          placeholder="Ingrese url de la imagen de red Social"
        />
        <div [hidden]="f.valid || f.pristine" class="alert alert-danger">Requiere ingresar información</div>

      </div>
      <div class="col-3"></div>
      <div class="col-9">
        <label for="name" class="form-label fw-bold">Red Social</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
          required
          placeholder="Ingrese url del su red social"
        />
        <div [hidden]="f.valid || f.pristine" class="alert alert-danger">Requiere ingresar información</div>
      </div>
      <div class="col-3">
        <app-social></app-social>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-dark"  [disabled]="f.invalid">Agregar</button>
    </div>
  </div>
</form>
