<!--educación-->
<div class="container-fluid titulo">
  <h4>Formación Academica</h4>
</div>
<div class="container-fluid cajon" *ngFor="let educacion of educaciones">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <img
        [src]="educacion.image"
        alt="logo"
        class="img-fluid"
        width="150px" height="200px"
      />
    </div>
    <div class="col-6 text-center">
      <h6>{{ educacion.school }}</h6>
      <h6>{{ educacion.title }}</h6>
      <h6>{{ educacion.date }}</h6>
      <h6>{{ educacion.description }}</h6>
    </div>
    <div class="col-1"></div>
  </div>
  <div *ngIf="isLogged">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/educacion-editar/{{ educacion.id }}"
    >
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <button type="button" class="btn btn-dark" (click)="delete(educacion.id)">
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </div>
</div>
