    <form
      class="px-5"
      (ngSubmit)="onUpdate()"
      #f="ngForm"
      novalidate
      *ngIf="proyecto && isLogged"
      class="fondo"
    >
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="mb-1">
            <label for="image" class="form-label fw-bold"
              >Imagen del Proyecto</label
            >
            <input
              type="text"
              class="form-control"
              id="image"
              name="image"
              [(ngModel)]="proyecto.image"
              required
            />
          </div>
          <div class="mb-1">
            <label for="name" class="form-label fw-bold"
              >Nombre del Proyecto</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="proyecto.name"
              required
            />
          </div>
          <div class="mb-1">
            <label for="date" class="form-label fw-bold"
              >Fecha de Realización</label
            >
            <textarea
              class="form-control"
              id="date"
              name="date"
              [(ngModel)]="proyecto.date"
              required
              rows="1"
            ></textarea>
          </div>
          <div class="mb-1">
            <label for="description" class="form-label fw-bold"
              >Descripcion del Proyecto</label
            >
            <textarea
              class="form-control"
              id="description"
              name="description"
              [(ngModel)]="proyecto.description"
              required
              rows="1"
            ></textarea>
            <div></div>
          </div>
          <div class="mb-1">
            <label for="url" class="form-label fw-bold"
              >Enlace del Proyecto</label
            >
            <input
              type="url"
              class="form-control"
              id="ur"
              name="url"
              [(ngModel)]="proyecto.url"
              required
            />
            <div class="float-end mt-3">
              <button type="submit" class="btn btn-dark">
                <i class="fa-solid fa-rotate"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </form>
