<form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col">
      <div class="mb-1">
        <label for="name" class="form-label fw-bold">Habilidad</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
          required
        />
      </div>
      <div [hidden]="f.valid || f.pristine" class="alert alert-danger">Requiere ingresar información</div>
      <div class="mb-1">
        <label for="value" class="form-label fw-bold">Valor del porcentaje</label>
        <input
          class="form-control"
          type="number"
          id="value"
          name="value"
          [(ngModel)]="value"
          required
        />
        <div [hidden]="f.valid || f.pristine" class="alert alert-danger">Requiere ingresar información</div>
        <div>
          <button type="submit" class="btn btn-dark" [disabled]="f.invalid">Agregar</button>
        </div>
      </div>
    </div>
    <div class="col"><app-habilidad></app-habilidad></div>
  </div>
</form>