
    <form class="px-5 fondo" (ngSubmit)="onUpdate()" #fm="ngForm" novalidate *ngIf="social && isLogged">
      <div class="mb-1">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <label for="image" class="form-label fw-bold">
              Imagen de Red Social</label
            >
            <input
              type="text"
              class="form-control"
              id="image"
              name="image"
              [(ngModel)]="social.image"
              required
              placeholder="Ingrese url de la imagen de red Social"
            />
          </div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-6">
            <label for="name" class="form-label fw-bold"
              >Url de su Red Social</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="social.name"
              required
              placeholder="Ingrese url del su red social"
            />
          </div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-6 float-end mt-3">
            <button type="submit" class="btn btn-dark">
              <i class="fa-solid fa-rotate"></i>
            </button>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </form>

