<form class="px-5" (ngSubmit)="onCreate()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <label for="name" class="form-label fw-bold"
          >Nombre del Proyecto</label
        >
        <input type="text" class="form-control"
        id="name"
          name="name"
          [(ngModel)]="name"
          required />
      </div>
      <div class="mb-1">
        <label
          for="date"
          class="form-label fw-bold"
          >Fecha de Realización</label
        >
        <textarea
          class="form-control"
          id="date"
          name="date"
          [(ngModel)]="date"
          required 
          rows="1"
        ></textarea>
      </div>
      <div class="mb-1">
        <label
          for="description"
          class="form-label fw-bold"
          >Descripcion del Proyecto</label
        >
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="description"
          required 
          rows="1"
        ></textarea>
        <div></div>
      </div>
      <div class="mb-1">
        <label for="url" class="form-label fw-bold"
          >Enlace del Proyecto</label
        >
        <input type="url" class="form-control" 
        id="ur"
        name="url"
        [(ngModel)]="url"
        required />
        <div>
          <button type="submit" class="btn btn-dark">
            Agregar
          </button>
        </div>
      </div>
    </div>
    <div class="col-6"><app-proyecto></app-proyecto></div>
  </div>
</form>
