<form class="px-5" (ngSubmit)="onCreate()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <label for="image" class="form-label fw-bold"
          >Logo de la Institución</label
        >
        <input
          class="form-control"
          id="image"
          name="image"
          [(ngModel)]="image"
          required
        />
      </div>
      <div class="mb-1">
        <label
          for="school"
          class="form-label fw-bold"
          >Titulo Obtenido</label
        >
        <input type="text" class="form-control"
        id="school"
        name="school"
        [(ngModel)]="school"
        required />
      </div>
      <div class="mb-1">
        <label
          for="title"
          class="form-label fw-bold"
          >Titulo Obtenido</label
        >
        <input type="text" class="form-control"
        id="title"
        name="title"
        [(ngModel)]="title"
        required />
      </div>
      <div class="mb-1">
        <label
          for="date"
          class="form-label- fw-bold"
          >Periodo</label
        >
        <textarea
          class="form-control"
          id="date"
          name="date"
          [(ngModel)]="date"
          required
          rows="1"
        ></textarea>
      </div>
      <div class="mb-1">
        <label
          for="description"
          class="form-label fw-bold"
          >Descripcion del titulo</label
        >
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="description"
          required
          rows="1"
        ></textarea>
        <div class="d-inline">
          <button type="submit" class="btn btn-dark">
            Agregar
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-educacion></app-educacion>
    </div>
  </div>
</form>
